/*Hace un recuadro alrededor del titulo*/
.miBorde {
	border: 5px dashed #007BFF;
	padding: 10px;
}

/*Pone un borde inferior azul a los div a los que se aplica*/
.bordeInferior {
	border-bottom: 5px solid #007BFF;
}

/*Altura y anchura de la imagen que está en la barra de navegación*/
.icono {
	height: 75px;
	width: 75px;
}

/*Anchura al 25% (w-25 en Bootstrap) pero con un margen a la izquierda*/
.miw-25 {
	margin-left: 5%;
	width: 25%;
}

/*Anchura al 40%*/
.w-40 {
	width: 40%;
}

/*Hace un ancho y un alto del 100% de la caja, con un máximo de 200x200 pixeles*/
.full {
	height: 100%;
	max-height: 200px;
	max-width: 200px;
	width: 100%;
}

/*Sutituye la clase 'col' de bootstrap-grid.css*/
.col {
	display: inline-block; /*Coloca los elementos en línea como bloques*/
	margin-left: 3%;/*Margen a la izquierda*/
	margin-right: 3%;/*Margen a la derecha*/
	width: 27%;/*Ancho*/
}

/*Esto se ejecutará cuando la pantalla mida menos de 732px (Medida estándar de Bootstrap para muchas cosas)*/
@media screen and (max-width: 732px) {
	/*Lo que tenga ésta clase ocupará un 90% de ancho centrado*/
	.miw-25 {
		margin: 5%;
		width: 90%;
	}
	/*Dispone los elementos que están en línea en bloque y ocupando toda la pantalla*/
	.col {
		display: block;
		margin-left: 3%;
		margin-right: 3%;
		margin-bottom: 2%;
		width: 94%;
	}
	/*Hace que los que tengan el ancho al 40% ocupen todo el ancho*/
	.w-40 {
		margin: 5%;
		width: 90%;
	}
	/*Centra el icono*/
	.icono {
		margin-left: 42%;
	}
}